body {
  width: 200px;
  margin: 0;
}

/* ~ ~ ~   ~ ~ ~   ~ ~ ~   ~ ~ ~ */
/* UNAUTHENTICATED BLOCK STYLES  */
/* ~ ~ ~   ~ ~ ~   ~ ~ ~   ~ ~ ~ */

.init-user-actions {
  display: block;
  padding: 5px 10px;
  margin: 5px auto;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  width: 100px;
  text-align: center;
}

#reg-btn {
  background-color: #7399c6;
}

#login {
  background-color: green;
}

.login-form-input {
  display: block;
  margin: 5px auto;
  width: 100px;
  text-align: center;
}

#login-submit {
  background-color: grey;
  color: white;
  display: block;
  margin: 5px auto;
  width: 100px;
}

#login-form {
  display: none;
}

#authentication-failed {
  text-align: center;
}

#unauthenticated {
  display: none;
}

/* ~ ~ ~   ~ ~ ~   ~ ~ ~   ~ ~ ~ */
/*   AUTHENTICATED BLOCK STYLES  */
/* ~ ~ ~   ~ ~ ~   ~ ~ ~   ~ ~ ~ */

#authenticated {
  display: none;
}

#authenticated-username {
  text-align: center;
}

#retrieve-url {
  display: block;
  padding: 5px 0px;
  margin: 0 auto;
  text-decoration: none;
  border: 1px solid black;
  background-color: #7399c6;
  border-radius: 10px;
  color: white;
  text-align: center;
  width: 150px;
}

#authenticated-save-url {
  background-color: green;
  display: block;
  width: 150px;
  margin: 5px auto;
  color: white;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

#logout {
  background-color: red;
  color: white;
  display: block;
  width: 150px;
  margin: 5px auto;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

#authenticated-saved-success {
  text-align: center;
}




/* ~ ~ ~   ~ ~ ~   ~ ~ ~   ~ ~ ~ */
/*      SPINNER STYLYING         */
/* ~ ~ ~   ~ ~ ~   ~ ~ ~   ~ ~ ~ */

#overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

#overlay-holder{
  padding-left: 84px;
  padding-top: 10%;
}


.lds-hourglass {
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 12px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
